@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.active{
    color: red ;
    text-decoration: underline;
    padding: 5px 5px;
    font-weight: 600;
    border: 2px solid red;
    padding: 5px 5px;
    border-radius: 10px;
}
